
<!DOCTYPE html>
<html>

<head>


    <meta charset="UTF-8" />

    <title> Voter ID App </title>

    <!-- Media query for narrow browser width -->
    <link rel="stylesheet" media="only screen and (max-width: 480px)" href="responsivecss/mobile.css" />

    <!-- Media query for medium browser width -->
    <link rel="stylesheet" media="only screen and (min-width: 481px) and (max-width: 960px)"
        href="responsivecss/tablet.css" />

    <!-- Media query for full browser width -->
    <link rel="stylesheet" media="only screen and (min-width: 961px)" href="responsivecss/desktop.css" />

    <!-- Prevents smartphones from scaling pages down -->
    <meta name="viewport" content="initial-scale=1">

    <!-- link to external CSS stylesheet -->
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- link to google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Questrial|Rajdhani" rel="stylesheet">


</head>

<body>

<nav>
  <ul>
  <li><a href="index.html">Home</a> </li>
  <li><a href="about.html">About</a></li>
  <li><a href="orgs.html">Organizations</a></li>
  <li><a href="involved.html">Get Involved</a></li>
  <li><a href="contact.html">Contact</a></li>
</nav>

<div id="container">
<section align="CENTER">
<header>
  <h1 class="welcome"> Voting ID App </h1>
</header>

<figure>
  <img src="images/protest.jpg" class="banner" alt="protestors marching for voting rights">
</figure>
</section>

<div class="content">

<section class="intro" align="CENTER">
  <h2> Our rights are under attack </h2>
  <article>
  <p class="text"> Gerrymandering, voter ID laws, and partisanship have contributed to an
    unthinkable breach of voting rights in the modern era. The result of this movement, reinvigorated
      the gutting of the Voting Rights Act, is that millions of voters have become disenfranchised. Most
      of those voters are marginalized people, who feel the impact of government policies most strongly.

      <br> <br>

      Join us in turning the tide, and giving the vote back to the people. 
  </article>
</section>
</div>

</div>

<hr>

</body>


</html>
