{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href='{% static 'style.css' %}' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block extra_head %} {% endblock %}
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Lift Up Democracy</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'account_email' %}">{{ user.email }}</a></li>
                    <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
                    {% else %}
                    <li><a href="{% url 'account_login' %}">Sign In</a></li>
                    <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

<!--     {% if messages %}
    <div>
        <strong>Messages:</strong>
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %} -->

    {% block content %} {% endblock %}
</body>

</html>
