{% extends "base.html" %}

{% block head_title %}Lift Up Democracy{% endblock %}

{% block content %}

<div class="signup">

    <form class="location" id="location_form" method="post" action="{% url 'submitLocationInfo' %}">

        <h2 class="text-center">Where are you located?</h2>

        <div class="question">
           <div class="form-check">
              <label class="form-check-label">
                What is your state?</br>
                <input class="form-check-input" type="text" name="state">
              </label>
            </div>
            
            <div class="form-check">
              <label class="form-check-label">
                What is your city?</br>
                <input class="form-check-input" type="text" name="city">
              </label>
            </div>
        </div>
    
        {% csrf_token %}
        
        <button type="submit" class="btn btn btn-block btn-primary">
          Next
        </button>
    </form>
  
</div>

   
{% endblock %}
