{% extends "base.html" %}

{% block head_title %}Lift Up Democracy{% endblock %}

{% block content %}

<div class="signup">

    <form class="location" id="location_form" method="post" action="{% url 'submitLocationInfo' %}">

        <h2 class="text-center">Where are you located?</h2>

        <div class="question">
            <div class="form-group">
                <label for="city">
                    What is your city?
                </label>
                <input type="text" name="city" class="form-control" required id="city" />
            </div>
            <div class="form-group">
                <label for="state">
                    What is your state?
                </label>
                <input type="text" name="state" class="form-control" required id="state" />
            </div>
        </div>

        {% csrf_token %}
        <br/>
        <button type="submit" class="btn btn btn-block btn-primary">
            Next
        </button>
    </form>

</div>

{% endblock %}
