body {
  background-color: #FFFFFF;
  font-family:"Rajdhani", sans-serif;
}

header {
  font-family: "Questrial", cursive;
  font-size: 60px;
  border: 0px;
}

form {
  padding-left: 35%;
  width: 30%;
}

nav {
  font-size: 27px;
  background: #4286f4;
  width: 100%;
  height: 90px;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  top: 0;
  left: 0;
}

h2 {
  font-size: 50px;
}
li {
    float: left;
    margin-right: 3%;
    text-decoration: none;
  }

ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

a:link {
  color: #BFE2E1;
}

a:hover{
  color: #9d9d9d;
}

a:visited {
  color: #FFFFFF;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color:#4286f4;
  height: 4px;
}

.banner {
  width: 80%;
  height: 80%;
}
.heading {
  padding-top: 60px;
}

.welcome {
  font-size: 200%;
}

.text {
  padding-left: 25px;
  font-size: 30px;
}

.content {
  padding-left: 10px;
  margin: auto;
  float:left;
}
